*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #e9ebec;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}
h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: left;
  tr {
    transition: background-color 0.3s ease-in-out;
    th {
      background-color: #cce6ff;
    }
  }
  tr:nth-child(even) {
    background-color: #edf2fa;
  }
  tr:hover {
    background-color: #d9dadb;
  }
}
table tr td,
table tr th {
  border: 1px solid #ff0000;
  padding: 12px 8px;
}

.example-1 {
  padding: 90px 15px;
  background-color: #fff1f0;

  table {
    width: 100%;
    max-height: 370px;
    overflow-y: scroll;
    overflow-x: auto;
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: grid;
      grid-template-columns:
        minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr)
        minmax(150px, 1fr);
      border-bottom: 1px solid transparent;
      width: max-content; /* it helps the background color go upto the end. otherwise, background color will stop after 100% viewport width */
      @media (min-width: 768px) {
        width: 100%;
      }

      td,
      th {
        border-right: 1px solid transparent;
      }
      td:last-child,
      th:last-child {
        border-right: 1px solid red;
      }
    }
  }
}

// example 2
.example-2 {
  padding: 90px 15px;
  background-color: #d4ffdf;

  table {
    width: 100%;
    max-height: 370px;
    overflow-y: scroll;
    overflow-x: auto;
    display: block;

    thead {
      // making changes
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      overflow-x: auto;
    }

    tbody {
      display: block;
    }

    tr {
      display: grid;
      grid-template-columns:
        minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr)
        minmax(150px, 1fr);
      border-bottom: 1px solid transparent;
      width: max-content; /* it helps the background color go upto the end. otherwise, background color will stop after 100% viewport width */
      @media (min-width: 768px) {
        width: 100%;
      }

      td,
      th {
        border-right: 1px solid transparent;
      }
      td:last-child,
      th:last-child {
        border-right: 1px solid red;
      }
    }
  }
}
